{% extends 'budget/base.html' %}

{% block content %}
    <h2><a>{{ 'Select budget entry' }}</a></h2>
    {% if budget_list %}
        <ul>
        {% for entry in budget_list %}
            <li><b>{{ entry.description }} : </b><a href="{% url 'budget:detail' entry.id %}">  spend  </a><a>,</a><a href="{% url 'budget:status' entry.id %}">  history</a>,</a><a href="{% url 'budget:expanse' entry.id %}">  details</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No budget entries are available.</p>
    {% endif %}
{% endblock %}